* {
    margin: 0px;
    padding: 0px;
}

html,
body {
  /*  font: 14px/1.5 normal;*/
    font-family: 'Microsoft YaHei', Arial, Tahoma, sans-serif;
    color: #666;
    background-image: url(static/image/lc_bg.png);
    background-repeat: no-repeat;
   /* overflow-x:hidden;*/
}

a {
    color: #333;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #7781e9;
}

ul,
dl {
    list-style: none;
}

i {
    font-style: normal;
}

img {
    display: inline-block;
    vertical-align: middle;
    border: 0;
}

.warper {
    /* max-width: 1800px; */
    max-width: 1800px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.pr {
    position: relative;
}

.warper {
    max-width: 1800px;
    margin: 0 auto;
}

.about-main2 {
    /* height: 650px; */
    height: 620px;
    width: 100%;
    overflow: hidden;
}

.about-main2 .licheng-bg {
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;
    position: relative;
}

.about-main2 .licheng-bg .warper {
    height: 100%;
}

.about-main2 .licheng-bg img { /*控制曲线曲度*/
    height: 588px;
    position: absolute;
    bottom: -100px;
    left: 0;
}

.about-main2 .ny-title {/*控制development大标题到顶部的距离*/
    padding-top: 30px;
}

.ny-title .title-en {/*国家政策时间线大标题*/
    font-size: 30px;
    color: #232121;
    font-family: arial;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
}

.ny-title .title-ch {/*这是控制什么的？*/
    font-size: 16px;
    color: #333333;
    margin:0px 0;
    font-weight: normal;
}

.ny-title i {
    display: block;
    width: 42px;
    height: 1px;
    background-color: #b5b5b5;
}

.about-main2 .licheng-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.about-main2 .licheng-content .swiper-wrapper,
.about-main2 .licheng-content .swiper-slide,
.about-main2 .licheng-content ul {
    width: 100%;
    height: 100%;
}

.about-main2 .licheng-content ul li {
    width: 20%;/*一面放5个事件，平分*/
    float: left;
    height: 100%;
}

.about-main2 .licheng-content ul li a {
    display: block;
    width: 100%;
    position: relative;
    height: 320px/*把文字集中在曲线附近*/
}

.about-main2 .licheng-content ul li .date {/*控制日期字体和颜色*/
    color: #0a3875;
    font-size: 25px;
}

.about-main2 .licheng-content ul li.item1 .line,
.about-main2 .licheng-content ul li.item3 .line,
.about-main2 .licheng-content ul li.item5 .line {
    margin-bottom: 25px;/*控制日期距离圆点的距离*/
}

.about-main2 .licheng-content ul li.item2 .line,
.about-main2 .licheng-content ul li.item4 .line {
    margin-top: 25px;
}

.about-main2 .licheng-content ul li.item1 .line:after,
.about-main2 .licheng-content ul li.item3 .line:after,
.about-main2 .licheng-content ul li.item5 .line:after {
    width: 25px;
    height: 25px;
    background-color: rgba(10, 56, 117, 0.8);
    display: block;
    content: "";
    border-radius: 50%;
    text-align: center;
    position: absolute;
}

.about-main2 .licheng-content ul li.item2 .line:before,
.about-main2 .licheng-content ul li.item4 .line:before {
    width: 25px;
    height: 25px;
    background-color: rgba(10, 56, 117, 0.8);
    display: block;
    content: "";
    border-radius: 50%;
    text-align: center;
    position: absolute;
}

.about-main2 .licheng-content ul li .lc-left {
    position: absolute;
}

.about-main2 .licheng-content ul li .line {/*控制时间那根实线*/
    height: 150px;
    width: 1px;
    display: block;
    background-color: #0A3875;
    position: relative;
    left: 35px;
}

.about-main2 .licheng-content ul li .lc-right {
    position: absolute;
    left: 35px;
    width: 350px;
    height: 100%;
    display: table;
}

.about-main2 .licheng-content ul li.item5 .lc-right {
    width: 200px;
}

.about-main2 .licheng-content ul li.item2 .lc-right,
.about-main2 .licheng-content ul li.item4 .lc-right {
    width: 400px;
}

.about-main2 .licheng-content ul li .lc-right .right-text {
    padding: 10px; /*控制文字到左边实线的距离*/
    display: table-cell;
    vertical-align: middle;
    font-size: 10px;
}
/*调试item1*/
.about-main2 .licheng-content ul li.item1 a {
    top: 60px;
}
.about-main2 .licheng-content ul li.item1 .lc-left .line:after {
    bottom: -25px;
    left: -11px;
}
.about-main2 .licheng-content ul li.item1 .lc-right {
    bottom: 68px;
}
/*调试item2*/
.about-main2 .licheng-content ul li.item2 a {
    top: 250px;   /*控制分割线的上下位置*/
}
.about-main2 .licheng-content ul li.item2 .lc-left .line:before {
    top: -25px;
    left: -11px;
}
.about-main2 .licheng-content ul li.item2 .lc-right {
    top: 14px;
}

.about-main2 .licheng-content ul li.item3 a {
    top: 100px;
}
.about-main2 .licheng-content ul li.item3 .lc-left .line:after {
    bottom: -25px;
    left: -11px;
}
.about-main2 .licheng-content ul li.item3 .lc-right {
    bottom: 130px;
}

.about-main2 .licheng-content ul li.item4 a {
    top: 250px;
}
.about-main2 .licheng-content ul li.item4 .lc-left .line:before {
    /*让实线在圆点中间插着*/
    top:-25px;
    left:-11px;
}
.about-main2 .licheng-content ul li.item4 .lc-right {
    top: 20px;
}

.about-main2 .licheng-content ul li.item5 a {
    top: 90px;
}
.about-main2 .licheng-content ul li.item5 .lc-left .line:after {
    bottom: -25px;
    left: -11px;
}
.about-main2 .licheng-content ul li.item5 .lc-right {
    bottom: 100px;
}

.about-main2 .licheng-content .right-text h3 { /*控制每个标题的字体大小*/
    font-size: 18px;
    margin-bottom: 10px;
}

.about-main2 .licheng-content .right-text p {
    font-size: 16px;
}

.about-main2 .licheng-content .right-text a {
    margin: 0;
    font-size: 16px;
}


/*控制按钮样式*/
.lc-swiper-btn {
    width: 100%;
    position: absolute;
    top: 300px;
}

.lc-swiper-btn a {
    display: block;
    position: absolute;
}

.lc-swiper-btn .btn-prev {
    position: absolute;
    left: 15px;
    top: 30px;
}

.lc-swiper-btn .btn-next {
    position: absolute;
    right: 0;
    top: 15px;
}

.lc-swiper-btn .iconfont {
    font-size: 30px;
}